[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = Jonas Schmitt
  email = jonas.schmitt@me.com
[core]
  excludesfile = ~/.gitignore
[pull]
	rebase = true
[rebase]
	autoStash = true
